{% extends "base_secondary.html" %}

{%block head%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
</script>
{%endblock%}

{% block body %}
<div class="container">
        <div class="row">
            <div class="col-md-9">
                <div id="signinButton">
                  <span class="g-signin"
                    data-scope="openid email"
                    data-clientid="144984548471-9votaamaqo21ghu7osgcps959djc8ctu.apps.googleusercontent.com"
                    data-redirecturi="postmessage"
                    data-accesstype="offline"
                    data-cookiepolicy="single_host_origin"
                    data-callback="signInCallback"
                    data-approvalprompt="force">
                  </span>
                </div>
                <div id="result"></div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <div id="result"></div>
    <script type="text/javascript">
      function signInCallback(authResult) {
        if (authResult['code'])
        {
          //Hide signin button now that the user is authorized
          $('#signinButton').attr('style','display: none');

          // Send the one time-use code to the server, if the server responds, alert 'login successful' and redirect to he main page.
          $.ajax({
            type: 'POST',
            url: '/gconnect?state={{state}}',
            processData: false,
            contentType: 'application/octet-stream; charset=utf-8',
            data: authResult['code'],
            success: function(result)
            {
              if (result)
              {
                $('#result').html('Login successful </br>' + result + '</br>Redirecting...')
                setTimeout(function() {
                  window.location.href = '/';
                }, 4000);
              }

              else if (authResult['error']) {
                console.log('There was an error: ' + authResult['error']);
              }

              else {
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                console.log('There was an error: ' + authResult['error']);
              }
            }
          });
        }
      }
    </script>
{% endblock %}